{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section class="home_banner_area">
    <div class="container d-flex justify-content-center align-items-center min-vh-100" style="padding-top: 250px;">
        <div class="col-lg-4">
            <div class="register_form text-center">
                <h3>Register NOW</h3>
                <p>Enter your information below</p>

                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.name) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.prenom) }}
                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.prenom) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.email) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.numtel) }}
                    {{ form_widget(form.numtel, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.numtel) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.password) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.role) }}
                    {{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.role) }}
                </div>

                <button class="primary-btn btn btn-primary mt-3">Create Account</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
