{% extends 'baseback.html.twig' %}

{% block title %}Modifier la categorie{% endblock %}

{% block body %}
{{ parent() }}

    <h1>Modifier la categorie</h1>
    {{ form_start(form, { 'attr': { 'novalidate': 'novalidate' } }) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}
    <a href="{{ path('categorie_index') }}" class="btn btn-secondary">Retour</a>
{% endblock %}
