{% extends 'baseback.html.twig' %}

{% block title %}Créer une Nouvelle Question{% endblock %}

{% block body %}
<div style="margin-top: 200px;">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Créer une Nouvelle Question</h1>

        {{ form_start(form, {'render_rest': false}) }}

        <div class="mb-3">
            {{ form_row(form.texte, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.type, {'attr': {'class': 'form-select'}}) }}
        </div>

        <div class="mb-3">
            {{ form_row(form.examen, {'attr': {'class': 'form-control'}}) }}
        </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}


